<span class="wrapper" data-type="audio"  data-id="{{id}}" data-username="{{uploadedBy}}" {{#if @root.album}}data-order="{{order}}"{{/if}}>
  <div class="audio">
    <img src="/f/{{id}}/thumbnail" />
    <span>
      <h1>Loading...</h1>
      <h2>Loading...</h2>
      <h3>Loading...</h3>
    </span>
    <audio controls preload>
      <source src="{{path}}" />
    </audio>
  </div>
  <div class="actions">
    <a class="action__save" title="Download this audio" href="/f/{{id}}/download">
      <i class="icon-download"></i>
      <span>Download</span>
    </a>
    {{#if_either_eq uploadedBy @root.album.uploadedBy @session.username this}}
      <a class="action__delete" title="Delete this audio">
        <i class="icon-trash"></i>
      </a>
    {{/if_either_eq}}
  </div>
</span>
<link rel="stylesheet" href="/css/partials/audio.css" />
<script type="module" src="/js/partials/audio.js"></script>
