<span class="wrapper" data-type="audio"  data-id="{{id}}" data-username="{{uploadedBy}}" {{#if @root.album}}data-order="{{order}}"{{/if}}>
  <div class="audio">
    <img src="/f/{{id}}/thumbnail" loading="lazy" />
    <span>
      <h1>Loading...</h1>
      <h2>Loading...</h2>
      <h3>Loading...</h3>
    </span>
    <audio controls preload>
      <source src="{{path}}" type="{{type}}" />
    </audio>
  </div>
  <div class="actions">
    <a class="action__save" title="Download this audio" href="/f/{{id}}/download">
      <i class="icon-download"></i>
      <span>Download</span>
    </a>
    {{#if_either_eq uploadedBy @root.album.uploadedBy @session.username}}
      <a class="action__delete" title="Delete this audio">
        <i class="icon-trash"></i>
      </a>
    {{/if_either_eq}}
  </div>
  {{#if @root.album}}
    {{#if_eq @root.album.uploadedBy @session.username}}
      <div class="orders" disabled>
        <a class="order__up" title="Move audio up">
          <i class="icon-up-big"></i>
        </a>
        <a class="order__down" title="Move audio down">
          <i class="icon-down-big"></i>
        </a>
      </div>
    {{/if_eq}}
  {{/if}}
</span>
<link rel="stylesheet" href="/css/partials/audio.css" />
<script type="module" src="/js/partials/audio.js"></script>
