<span class="wrapper" data-type="image"  data-id="{{id}}" data-username="{{uploadedBy}}">
  <a class="image" href="{{path}}">
    <img src="{{path}}" />
  </a>
  <div class="actions">
    <a class="action__save" title="Download this image" href="/f/{{id}}/download">
      <i class="icon-download"></i>
      <span>Download</span>
    </a>
    {{#if_either_eq uploadedBy @root.album.uploadedBy @session.username this}}
      <a class="action__delete" title="Delete this image">
        <i class="icon-trash"></i>
        <span></span>
      </a>
    {{/if_either_eq}}
  </div>
</span>
<link rel="stylesheet" href="/css/partials/image.css" />
<script type="module"  src="/js/partials/image.js"></script>
