<span class="wrapper">
  <a class="image" href="{{@root.direct}}/{{this.file_id}}.{{ext this.mimetype}}">
    <img src="{{@root.direct}}/{{this.file_id}}.{{ext this.mimetype}}" />
  </a>
  {{#if_eq @root.signedin.username this.uploaded_by this}}
    <div class="actions">
      <a class="action__delete" title="Delete this Image" data-id="{{this.file_id}}" data-username="{{@root.signedin.username}}">
        <i class="icon-trash"></i>
      </a>
    </div>
  {{/if_eq}}
</span>