<span class="wrapper">
  <a class="image" href="{{@direct}}/{{file_id}}.{{ext mimetype}}">
    <img src="{{@direct}}/{{file_id}}.{{ext mimetype}}" />
  </a>
  {{#if_eq @signedin.username this.uploaded_by this}}
    <div class="actions">
      <a class="action__delete" title="Delete this Image" data-id="{{file_id}}" data-username="{{@signedin.username}}">
        <i class="icon-trash"></i>
      </a>
    </div>
  {{/if_eq}}
</span>