<span class="wrapper fullwidth">
  <pre class="text" data-text-id="{{id}}">
    <code></code>
  </pre>
  <div class="actions">
    {{!--
    {{#if_eq_or @signedin.username this.uploaded_by @signedin.admin this}}
      <a class="action__delete" title="Delete this Text" data-id="/f/{{file_id}}" data-username="{{this.uploaded_by}}">
        <i class="icon-trash"></i>
      </a>
    {{/if_eq_or}}
    --}}
    <a class="action__raw" title="View Raw" href="{{path}}">
      <i class="icon-link-ext"></i>
    </a>
  </div>
</span>
<script>
  fetch('{{path}}')
    .then(r => r.text())
    .then(text => document.querySelector('.text[data-text-id={{id}}] > code').textContent = text)
    .catch(err => console.error(err))
</script>
