<span class="wrapper fullwidth" data-text-id="{{id}}" data-text-path="{{path}}">
  <pre class="text">
    <code></code>
  </pre>
  <div class="actions">
    <a class="action__raw" title="View text file directly" href="{{path}}">
      <i class="icon-link-ext"></i>
      <span>View Direct</span>
    </a>
    <a class="action__save" title="Download this text file" href="download/">
      <i class="icon-download"></i>
      <span>Save</span>
    </a>
    {{#if_either_eq uploaded_by @root.album.uploaded_by @session.username this}}
      <a class="action__delete" title="Delete this text file" data-id="/f/{{id}}" data-username="{{uploaded_by}}">
        <i class="icon-trash"></i>
        <span></span>
      </a>
    {{/if_either_eq}}
  </div>
</span>
<link rel="stylesheet" href="/css/partials/text.css" />
<script type="module"  src="/js/partials/text.js" defer></script>
