<span class="wrapper fullwidth" data-type="text"  data-id="{{id}}" data-username="{{uploadedBy}}" {{#if @root.album}}data-order="{{order}}"{{/if}}>
  <pre class="text">{{path}}</pre>
  <div class="actions">
    <a class="action__raw" title="View text file directly" href="{{path}}">
      <i class="icon-link-ext"></i>
      <span>View Direct</span>
    </a>
    <a class="action__save" title="Download this text file" href="/f/{{id}}/download">
      <i class="icon-download"></i>
      <span>Download</span>
    </a>
    {{#if_either_eq uploadedBy @root.album.uploadedBy @session.username}}
      <a class="action__delete" title="Delete this text file">
        <i class="icon-trash"></i>
        <span></span>
      </a>
    {{/if_either_eq}}
  </div>
  {{#if @root.album}}
    {{#if_eq @root.album.uploadedBy @session.username}}
      <div class="orders" disabled>
        <a class="order__up" title="Move text file up">
          <i class="icon-up-big"></i>
        </a>
        <a class="order__down" title="Move text file down">
          <i class="icon-down-big"></i>
        </a>
      </div>
    {{/if_eq}}
  {{/if}}
</span>
<link rel="stylesheet" href="/css/partials/text.css" />
<script type="module" src="/js/partials/text.js"></script>
