<span class="wrapper fullwidth" data-text-id="{{id}}" data-text-path="{{path}}">
  <pre class="text">
    <code></code>
  </pre>
  <div class="actions">
    {{#if_either_eq uploaded_by @root.album.uploaded_by @session.username this}}
      <a class="action__delete" title="Delete this Text" data-id="/f/{{id}}" data-username="{{uploaded_by}}">
        <i class="icon-trash"></i>
      </a>
    {{/if_either_eq}}
    <a class="action__raw" title="View Raw" href="{{path}}">
      <i class="icon-link-ext"></i>
    </a>
  </div>
</span>
<link rel="stylesheet" href="/css/partials/text.css" />
<script type="module"  src="/js/partials/text.js" defer></script>
