<span class="wrapper">
  <div class="video__player">
    <video>
      <source src="{{@direct}}/{{file_id}}.{{ext mimetype}}" />
    </video>
    <div class="video__controls">
      <button class="playback__playPause paused" title="Play">
        <i class="icon-play"></i>
      </button>
      <span class="playback__clock">
        <span class="playback__time">-:--</span> / <span class="playback__length">-:--</span>
      </span>
      <span class="playback__bar">
        <span class="playback__buffer"></span>
        <span class="playback__progress"></span>
      </span>
      <span class="playback__volume">
        <button class="volume__muteUnmute unmuted" title="Mute">
          <i class="icon-volume-up"></i>
        </button>
        <input class="volume__control" type="range" min="0" max="1" step="0.01" value="1" />
      </span>
      <span class="playback__extra">
        <a class="control__breakout" title="View on seperate page" href="{{@direct}}/{{file_id}}.{{ext mimetype}}">
          <i class="icon-link-ext"></i>
        </a>
        <a class="control__download" title="Download this File" href="./download">
          <i class="icon-download"></i>
        </a>
        <button class="control__fullscreen" title="Fullscreen">
          <i class="icon-resize-full"></i>
        </button>
      </span>
    </div>
  </div>
  {{#if_eq @signedin.username this.uploaded_by this}}
    <div class="actions">
      <a class="action__delete" title="Delete this Video" data-id="/f/{{file_id}}" data-username="{{@signedin.username}}">
        <i class="icon-trash"></i>
      </a>
    </div>
  {{/if_eq}}
</span>
