<span class="wrapper" data-type="video" data-id="{{id}}" data-username="{{uploadedBy}}" {{#if @root.album}}data-order="{{order}}"{{/if}}>
  <div class="video">
    <video controls preload playsinline>
      <source src="{{path}}" type="{{type}}" />
    </video>
  </div>
  <div class="actions">
    <a class="action__save" title="Download this video" href="/f/{{id}}/download">
      <i class="icon-download"></i>
      <span>Download</span>
    </a>
    {{#if_either_eq uploadedBy @root.album.uploadedBy @session.username this}}
      <a class="action__delete" title="Delete this video">
        <i class="icon-trash"></i>
      </a>
    {{/if_either_eq}}
  </div>
  {{#if @root.album}}
    {{#if_eq @root.album.uploadedBy @session.username this}}
      <div class="orders" disabled>
        <a class="order__up" title="Move video up">
          <i class="icon-up-big"></i>
        </a>
        <a class="order__down" title="Move video down">
          <i class="icon-down-big"></i>
        </a>
      </div>
    {{/if_eq}}
  {{/if}}
</span>
<link rel="stylesheet" href="/css/partials/video.css" />
<script type="module" src="/js/partials/video.js"></script>
