<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,viewport-fit=cover'" />
<meta name="theme-color" content="{{server.opengraph.theme}}" />
<meta property="twitter:card" content="summary" />
<meta property="og:title" content="{{server.name.fullname}} | Login" />
<meta property="og:site_name" content="{{server.name.fullname}}" />
<meta property="og:url" content="{{server.opengraph.url}}" />
<link rel="icon" type="image/png" href="/img/favicon.png" />
<title>{{title}}</title>