<!DOCTYPE html>
<html>
  <head>
    {{> head}}
    <link rel="stylesheet" href="/css/admin.css" />
    <script type="module" src="/js/admin.js"></script>
  </head>
  <body>
    {{> themeToggle}}
    <header>
      {{> logo}}
    </header>
    <main>
      <section>
        <span id="notice">
          <span>*</span>
          Requires PM2
        </span>
        <div class="table">
          <div class="row">
            <span>
              <i class="icon-attention"></i>
              Process Control
              <span>*</span>
            </span>
            <span>
              <button id="restart">
                <i class="icon-off"></i>
                <span>Restart</span>
              </button>
            </span>
          </div>
          <div class="row">
            <span>
              <i class="icon-doc-text"></i>
              View Log
              <span>*</span>
            </span>
            <span>
              <select id="selectLog">
                <option value="out">out.log</option>
                <option value="err">err.log</option>
                <option value="combined" selected>combined.log</option>
              </select>
            </span>
          </div>
        </div>
        <div class="table">
          <div class="row">
            <span>
              <i class="icon-docs"></i>
              Total Files
            </span>
            <span>{{stats.totalFiles}}</span>
          </div>
          <div class="row">
            <span>
              <i class="icon-folder-empty"></i>
              Total Albums
            </span>
            <span>{{stats.totalAlbums}}</span>
          </div>
          <div class="row">
            <span>
              <i class="icon-hdd"></i>
              Total Size
            </span>
            <span class="totalSize">{{stats.totalSize}}</span>
          </div>
          <div class="row">
            <span>
              <i class="icon-chart-area"></i>
              Server Uptime
            </span>
            <span class="uptime">{{stats.uptime}}</span>
          </div>
        </div>
        <div class="table">
          <div class="row">
            <span>
              <i class="icon-github"></i>
              Commit Id
            </span>
            <span>
              <a href="https://github.com/cmd430/stash.red/commit/{{info.commit}}" target="_blank" title="{{info.commit}}">
                {{info.shortCommit}}
              </a>
            </span>
          </div>
        </div>
        <div id="log">
          <button id="clearLog">
            <i class="icon-eraser"></i>
            <span>Clear Log</span>
          </button>
          <pre></pre>
        </div>
      </section>
      {{> modals}}
    </main>
  </body>
</html>
