<!DOCTYPE html>
<html>
  <head>
    {{> head}}
    <link rel="stylesheet" href="/css/album.css" />
    <script type="module"  src="/js/album.js"></script>
    <script type="module"  src="/js/file.js"></script>
  </head>
  <body>
    {{> themeToggle}}
    <header>
      {{> logo}}
      {{#if_eq @session.username album.uploadedBy this}}
        <h1 class="editable">
          <input type="text" class="album__title_input" placeholder="Untitled Album" value="{{album.title}}" maxlength="100" />
          {{album.title}}
        </h1>
      {{else}}
        <h1>{{album.title}}</h1>
      {{/if_eq}}
    </header>
    <nav>
      <a class="album__download" title="Download this Album" href="/a/{{album.id}}/download">
        <i class="icon-download"></i>
        <span>Download Album</span>
      </a>
      {{#if_eq @session.username album.uploadedBy this}}
        <span></span>
        <a class="album__edit" title="Edit this Album">
          <i class="icon-pencil"></i>
          <span>Edit Album</span>
        </a>
        <a class="album__delete" title="Delete this Album">
          <i class="icon-trash"></i>
        </a>
      {{/if_eq}}
    </nav>
    <main>
      <section data-id="{{album.id}}" data-username="{{album.uploadedBy}}" data-title="{{album.title}}">
        {{#each album.files}}
          {{#if_contains type 'image' this}}
            {{> image this}}
          {{/if_contains}}
          {{#if_contains type 'video' this}}
            {{> video this}}
          {{/if_contains}}
          {{#if_contains type 'audio' this}}
            {{> audio this}}
          {{/if_contains}}
          {{#if_contains type 'text' this}}
            {{> text this}}
          {{/if_contains}}
        {{/each}}
      </section>
      {{> modals}}
    </main>
  </body>
</html>
