<!DOCTYPE html>
<html>
  <head>
    {{> head}}
    <script src="/js/media.js"></script>
  </head>
  <body class="light">
    <header>
      {{> logo}}
      <h1 {{#if_eq @session.username album.uploaded_by this}}class="editable"{{/if_eq}}>
        {{#if_eq @session.username album.uploaded_by this}}
          <a class="album__delete" title="Delete this Album" data-id="/a/{{album.id}}" data-username="{{album.uploaded_by}}">
            <i class="icon-trash"></i>
          </a>
          <input type="text" class="album__title_input" placeholder="Untitled Album" value="{{album.title}}" data-title="{{album.title}}" maxlength="100" />
        {{/if_eq}}
        <a class="album__download" title="Download this Album" href="./download">
          <i class="icon-download"></i>
        </a>
        {{album.title}}
      </h1>
    </header>
    <div id="container">
      {{#each album.files}}
        {{#if_contains type 'image' this}}
          {{> image this}}
        {{/if_contains}}
        {{#if_contains type 'video' this}}
          {{> video this}}
        {{/if_contains}}
        {{#if_contains type 'audio' this}}
          {{> audio this}}
        {{/if_contains}}
        {{#if_contains type 'text' this}}
          {{> audio this}}
        {{/if_contains}}
      {{/each}}
    </div>
    {{> modals}}
  </body>
</html>
