<!DOCTYPE html>
<html>
  <head>
    {{> shared/head}}
    <link rel="stylesheet" href="/scss/common.scss" />
    <script src="/js/common.js"></script>
    <script src="/js/media.js"></script>
  </head>
  <body class="light">
    <header>
      {{> logo server}}
      <h1 {{#if_eq @root.signedin.username album.meta.uploaded.by album}}class="editable"{{/if_eq}}>
        {{#if_eq @root.signedin.username album.meta.uploaded.by album}}
          <a class="album__delete" title="Delete this Album" data-url="{{this.path}}" data-username="{{@root.signedin.username}}">
            <i class="icon-trash"></i>
          </a>
          <input type="text" class="album__title_input" placeholder="Album" value="{{this.meta.title}}" data-title="{{this.meta.title}}" maxlength="100" />
        {{/if_eq}}
        <a class="album__download" title="Download this Album" href="{{album.downloadpath}}">
          <i class="icon-download"></i>
        </a>
        {{album_title}}
      </h1>
    </header>
    <div id="container">
      {{#each files}}
        {{#if_contains 'image' mimetype this}}
          {{> image this}}
        {{/if_contains}}
        {{#if_contains 'video' mimetype this}}
          {{> video this}}
        {{/if_contains}}
        {{#if_contains 'audio' mimetype this}}
          {{> audio this}}
        {{/if_contains}}
      {{/each}}
    </div>
    {{> modals}}
  </body>
</html>