<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,viewport-fit=cover'" />
    <meta name="theme-color" content="{{server.opengraph.theme}}" />
    <meta content="{{server.name.fullname}} | {{file.id}}" property="og:title" />
    <meta content="{{typeof file}} hosted on {{server.name.fullname}}" property="og:description" />
    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <link rel="apple-touch-icon" href="/img/favicon.png" />
    <link rel="stylesheet" href="/css/common.css" />
    <script src="/js/common.js"></script>
    <script src="/js/media.js"></script>
    <title>{{server.name.fullname}} | {{file.id}}</title>
  </head>
  <body>
    <header>
      {{> logo server}}
      <h1></h1>
    </header>
    <div id="container">
      {{#is file 'image'}}
        {{> image this}}
      {{/is}}
      {{#is file 'video'}}
        {{> video this}}
      {{/is}}
      {{#is file 'audio'}}
        {{> audio this}}
      {{/is}}
    </div>
  </body>
</html>