<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,viewport-fit=cover'" />
    <meta name="theme-color" content="{{server.opengraph.theme}}" />
    <meta property="twitter:card" content="summary" />
    <meta property="og:title" content="{{server.name.fullname}} | Signup" />
    <meta property="og:site_name" content="{{server.name.fullname}}" />
    <meta property="og:url" content="{{server.opengraph.url}}" />
    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <link rel="apple-touch-icon" href="/img/favicon.png" />
    <link rel="stylesheet" href="/css/login_signup.css" />
    <title>{{server.name.fullname}} | Signup</title>
  </head>
  <body>
    <div id="content">
      {{> logo server}}
      <div id="accountzone">
        <form method="POST" action="/login">
          <input name="username" type="text" placeholder="Username" />
          <input name="password" type="password" placeholder="Password" />
          <input name="passwordConfirm" type="password" placeholder="Confirm Password" />
          <img src="/captcha"/>
          <input type="text" name="captcha" placeholder="Captcha" />
          <input name="submit" type="submit" value="sign up" />
        </form>
      </div>
    </div>
  </body>
</html>