<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,viewport-fit=cover'" />
    <meta name="theme-color" content="{{server.opengraph.theme}}" />
    <meta property="twitter:card" content="summary" />
    <meta property="og:title" content="{{user.meta.username}}" />
    <meta property="og:site_name" content="{{server.name.fullname}}" />
    <meta property="og:url" content="{{server.opengraph.url}}" />
    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <link rel="apple-touch-icon" href="/img/favicon.png" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/user.css" />
    <link rel="stylesheet" href="/css/theme.css" />
    <script src="/js/common.js"></script>
    <script src="/js/user.js"></script>
    <title>{{server.name.fullname}} | {{user.meta.username}}</title>
  </head>
  <body class="light">
    <header>
      {{> logo server}}
      <h1>{{user.meta.username}}</h1>
    </header>
    <div id="container">
      {{#each user.albums}}
        {{> preview this}}
      {{/each}}
      {{#each user.files}}
        {{> preview this}}
      {{/each}}
      {{> paginator}}
    </div>
    {{> modal}}
  </body>
</html>